In [1]:
%matplotlib notebook

# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Raw data file
dice_data="Resources/dice_com_us_job_sample.csv"

# Read file into pandas data frame
dice_df = pd.read_csv(dice_data)
dice_df.head()

,advertiser_url,company,employmenttype_jobstatus,job_description,jobid,job_location,job_title,postdate,skills,uniq_id,...,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45
0,https://www.dice.com/jobs/detail/Business-Syst...,"VanderHouwen & Associates, Inc.","Contract W2, Contract",VanderHouwen has more jobs you may like! Find ...,Dice Id : vhassoc,OR,Systems Analyst,7 hours ago,"AI, Maya, Browzwear, 3D",b923d29624fb4dc9e193aa30f8253ee6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.dice.com/jobs/detail/Business-Anal...,"VanderHouwen & Associates, Inc.","Full Time, Full time",PLEASE JOIN OUR TALENT NETWORK: http://bit.ly/...,Dice Id : vhassoc,WA,Business Analyst,7 hours ago,SQL,510481dba5a43cc2b77546f0dadb1ce4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.dice.com/jobs/detail/Business-Syst...,"VanderHouwen & Associates, Inc.","Contract W2, Contract",PLEASE JOIN OUR TALENT NETWORK: http://bit.ly/...,Dice Id : vhassoc,OR,Systems Analyst,7 hours ago,B2C digital product management,8d0ffe9061aa61fbd3fdfae28fa9e2b9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.dice.com/jobs/detail/Business-Anal...,SMCI,"Contract W2, 5",Job Description: Seeking a Business Process An...,Dice Id : 10301550,CA,Business Analyst,5 hours ago,"Mortgage/Equiting Lending, Lean Six Sigma Gree...",0445fcb37ab17f686c025da15a98de52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.dice.com/jobs/detail/Business-Anal...,SMCI,"C2H W2, 6",Job Description: Our banking client is looking...,Dice Id : smci,CA,Business Analyst,5 hours ago,"digital analytics, Google, Adobe, Tableau, For...",bb39139fe34f98132e057d2bc5f27ffc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Display total number of job listings in the U.S.
combined_total_jobs = dice_df["uniq_id"].nunique()
combined_total_jobs

988

In [3]:
# Display number of listings per state
state_count = dice_df["job_location"].value_counts()
state_count

# Create a data frame that holds state cunt summary
state_count_df=pd.DataFrame(state_count)
state_count_df.head()

#Change column name from 'job_location' to 'Total Job Listings'
state_count_df = state_count_df.rename(columns={"job_location":"Total Job Listings"})
state_count_df.head()

    Total Job Listings
CA                 145
NY                 127
MA                  98
TX                  80
GA                  77

In [4]:
states = ["CA", "NY", "MA", "TX", "GA", "WA", "NJ", "CT", "PA", "VA", "IL", "MD", "FL", "MN", 
          "MI", "OH", "WI", "RI", "NC", "CO", "MO", "NE", "DC", "AZ", "NH", "DE", "SC", "LA", 
          "OR", "KS", "IA", "ME", "NV", "TN", "KY", "HI", "UT", "IN", "MD"]
state_totals = [145, 127,  98,  80,  77,  76,  72,  48,  46,  32,  27,  19,  18,
        14,  11,   9,   8,   7,   7,   7,   6,   6,   6,   5,   5,   5,
         4,   3,   3,   3,   2,   2,   2,   2,   2,   1,   1,   1,   1]
x_axis = np.arange(len(state_totals))
                
# Create a bar chart
plt.bar(x_axis, state_totals, color = 'b', alpha=0.5, align="center")

# Create the ticks for bar chart's x-axis
tick_locations = [value for value in x_axis]
plt.xticks(tick_locations, states)

# Add title and labels to bar chart
plt.title ("Number of Tech Job Listings in the US")
plt.xlabel("State")
plt.ylabel("Number of Job Listings")

Text(0,0.5,'Number of Job Listings')

In [5]:
# Set x limits of bar chart
plt.xlim(-0.95, len(x_axis)-30)

(-0.95, 9)

In [6]:
# Set y limits of bar chart
plt.ylim(0, max(state_totals)+10)

(0, 155)

In [7]:
# Separate data into fields according to 'job_title' values
grouped_jobs_df = dice_df.groupby(['job_title'])
print(grouped_jobs_df)
grouped_jobs_df.count()

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x111fd5320>

,advertiser_url,company,employmenttype_jobstatus,job_description,jobid,job_location,postdate,skills,uniq_id,Unnamed: 10,...,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45
job_title,,,,,,,,,,,,,,,,,,,,,
Big Data Analyst,2,2,2,2,2,2,2,2,2,0,...,0,0,0,0,0,0,0,0,0,0
Big Data Architect,23,23,23,23,23,23,23,23,23,0,...,0,0,0,0,0,0,0,0,0,0
Big Data Developer,17,17,17,17,17,17,17,17,17,0,...,0,0,0,0,0,0,0,0,0,0
Big Data Engineer,28,28,28,28,28,28,28,28,28,0,...,0,0,0,0,0,0,0,0,0,0
Business Analyst,235,234,234,235,235,235,235,232,235,0,...,2,2,0,0,0,0,0,0,0,0
Business Intelligence Analyst,43,43,43,43,43,43,43,43,43,0,...,0,0,0,0,0,0,0,0,0,0
Business Intelligence Analyst,2,2,2,2,2,2,2,2,2,0,...,0,0,0,0,0,0,0,0,0,0
Business Intelligence Architect,2,2,2,2,2,2,2,2,2,0,...,0,0,0,0,0,0,0,0,0,0
Business Intelligence Developer,43,43,43,43,43,43,43,43,43,0,...,1,0,0,0,0,0,0,0,0,0
Data Analyst,82,82,82,82,82,82,82,82,82,0,...,0,0,0,0,0,0,0,0,0,0
Data Architect,39,39,39,39,39,39,39,39,39,0,...,0,0,0,0,0,0,0,0,0,0
Data Engineer,25,25,25,25,25,25,25,25,25,0,...,0,0,0,0,0,0,0,0,0,0
Data Scientist,40,40,40,40,40,40,40,40,40,0,...,1,1,1,0,0,0,0,0,0,0
Data Warehouse Developer,17,17,17,17,17,17,17,17,17,0,...,0,0,0,0,0,0,0,0,0,0
Database Administrator,29,29,28,29,29,29,29,29,29,0,...,0,0,0,0,0,0,0,0,0,0
Database Developer,17,17,17,17,17,17,17,17,17,0,...,0,0,0,0,0,0,0,0,0,0
Database Engineer,14,14,14,14,14,14,14,14,14,0,...,0,0,0,0,0,0,0,0,0,0
SQL Database Administrator,46,46,46,46,46,46,46,46,46,0,...,0,0,0,0,0,0,0,0,0,0
SQL Developer,33,33,33,33,33,33,33,33,33,0,...,0,0,0,0,0,0,0,0,0,0
Software Engineer,9,9,9,9,9,9,9,9,9,0,...,0,0,0,0,0,0,0,0,0,0
Systems Administrator,54,54,54,54,54,54,54,54,54,0,...,0,0,0,0,0,0,0,0,0,0
Systems Analyst,78,78,78,78,78,78,78,77,78,0,...,0,0,0,0,0,0,0,0,0,0
Systems Developer,14,14,14,14,14,14,14,14,14,0,...,1,0,0,0,0,0,0,0,0,0
Systems Engineer,76,75,76,76,76,76,76,74,76,0,...,3,3,3,3,2,2,2,2,2,1
Tableau Developer,20,20,20,20,20,20,20,20,20,0,...,0,0,0,0,0,0,0,0,0,0