In [1]:
# Welcome to the script!

In [29]:
#import Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re

In [30]:
# set filepath and establish DataFrame
googdf = pd.read_csv('../CSV_Folder/job_skills.csv')

In [31]:
# Is it working?
print(googdf.columns)

Index(['Company', 'Title', 'Category', 'Location', 'Responsibilities',
       'Minimum Qualifications', 'Preferred Qualifications'],
      dtype='object')

In [32]:
# Drop the incomplete rows and reset the index.
googdf = googdf.dropna(how='any',axis='rows')
googdf = googdf.reset_index(drop=True)
type(googdf)

pandas.core.frame.DataFrame

In [33]:
googdf.head()

,Company,Title,Category,Location,Responsibilities,Minimum Qualifications,Preferred Qualifications
0,Google,Google Cloud Program Manager,Program Management,Singapore,"Shape, shepherd, ship, and show technical prog...",BA/BS degree or equivalent practical experienc...,Experience in the business technology market a...
1,Google,"Supplier Development Engineer (SDE), Cable/Con...",Manufacturing & Supply Chain,"Shanghai, China",Drive cross-functional activities in the suppl...,BS degree in an Engineering discipline or equi...,"BSEE, BSME or BSIE degree.\nExperience of usin..."
2,Google,"Data Analyst, Product and Tools Operations, Go...",Technical Solutions,"New York, NY, United States",Collect and analyze data to draw insight and i...,"Bachelor’s degree in Business, Economics, Stat...",Experience partnering or consulting cross-func...
3,Google,"Developer Advocate, Partner Engineering",Developer Relations,"Mountain View, CA, United States","Work one-on-one with the top Android, iOS, and...",BA/BS degree in Computer Science or equivalent...,"Experience as a software developer, architect,..."
4,Google,"Program Manager, Audio Visual (AV) Deployments",Program Management,"Sunnyvale, CA, United States",Plan requirements with internal customers.\nPr...,BA/BS degree or equivalent practical experienc...,CTS Certification.\nExperience in the construc...

In [43]:
BA_list = ['BA']
BS_list = ['BS']
Bachelor_list = ['BA/BS', 'BS/BA', 'bs/ba', 'Ba/Bs', 'ba/bs','Bachelor', 'bachelor']
Master_list = ['Master', 'master']
MBA_list = ['MBA', 'Mba', 'mba']
PhD_list = ['PHD', 'PhD', 'phD', 'phd', 'Phd', 'Ph.D']
PhD_re = "[pP][hH][dD]"
degree_list = [PhD_list, MBA_list, Master_list, Bachelor_list, BS_list, BA_list]
degrees = ["PhD", "MBA", "Master's", "Bachelor's", "BA", "BS", "GED"]

In [44]:
# make an array that will hold the degree requirements
DegreeColumn = []

for row in range(len(googdf['Minimum Qualifications'])):    
    go=True
    if go==True:
        for word_phd in PhD_list:
            if word_phd in googdf['Minimum Qualifications'][row]:
                DegreeColumn.append("PhD")
                go=False
                break
    if go==True:
        for word_mba in MBA_list:
            if word_mba in googdf['Minimum Qualifications'][row]:
                DegreeColumn.append("MBA")
                go=False
                break

    if go==True:
        for word_master in Master_list:
            if word_master in googdf['Minimum Qualifications'][row]:
                DegreeColumn.append("Master's")
                go=False
                break
    if go==True:
        for word_bachelor in Bachelor_list:
            if word_bachelor in googdf['Minimum Qualifications'][row]:
                DegreeColumn.append("Bachelor's")
                go=False
                break
    if go==True:
        for word_ba in BA_list:
            if word_ba in googdf['Minimum Qualifications'][row]:
                DegreeColumn.append("BA")
                go=False
                break
    if go==True:

        for word_bs in BS_list:
            if word_bs in googdf['Minimum Qualifications'][row]:
                DegreeColumn.append("BS")
                go=False
                break
    if go==True:
        DegreeColumn.append('GED')

In [45]:
# test the length of the array to see if it is the same length of the DataFrame.
# if it is the same length, then it is probably safe to make a new column.
print(len(DegreeColumn))
print(len(googdf['Minimum Qualifications']))
# test to make sure the array looks good
DegreeColumn[0:20]

1235
1235

["Bachelor's",
 'BS',
 "Bachelor's",
 "Bachelor's",
 "Bachelor's",
 "Bachelor's",
 'BS',
 "Bachelor's",
 "Bachelor's",
 "Bachelor's",
 "Bachelor's",
 "Bachelor's",
 "Bachelor's",
 "Bachelor's",
 "Bachelor's",
 "Bachelor's",
 "Bachelor's",
 "Bachelor's",
 'BS',
 'PhD']

In [46]:
googdf['Degree Reqirement'] = DegreeColumn
googdf.head(2)

,Company,Title,Category,Location,Responsibilities,Minimum Qualifications,Preferred Qualifications,Degree Reqirement
0,Google,Google Cloud Program Manager,Program Management,Singapore,"Shape, shepherd, ship, and show technical prog...",BA/BS degree or equivalent practical experienc...,Experience in the business technology market a...,Bachelor's
1,Google,"Supplier Development Engineer (SDE), Cable/Con...",Manufacturing & Supply Chain,"Shanghai, China",Drive cross-functional activities in the suppl...,BS degree in an Engineering discipline or equi...,"BSEE, BSME or BSIE degree.\nExperience of usin...",BS

In [47]:
googdf_analyst = googdf[googdf['Category'] == 'IT & Data Management']
googdf_analyst.head(2)
print(list(googdf_analyst['Degree Reqirement'].value_counts()))

[3, 2]

In [48]:
googdf_bachelors = googdf[googdf['Degree Reqirement'] == "Bachelor's"]
googdf_masters = googdf[googdf['Degree Reqirement'] == "Master's"]
googdf_mba = googdf[googdf['Degree Reqirement'] == 'MBA']
googdf_phd = googdf[googdf['Degree Reqirement'] == "PhD"]
googdf_ba = googdf[googdf['Degree Reqirement'] == "BA"]
googdf_bs = googdf[googdf['Degree Reqirement'] == "BS"]
googdf_ged = googdf[googdf['Degree Reqirement'] == "GED"]

print(googdf_bachelors.count())
print(googdf_masters.count())
print(googdf_phd.count())
print(googdf_ba.count())
print(googdf_bs.count())
print(googdf_ged.count())

Company                     955
Title                       955
Category                    955
Location                    955
Responsibilities            955
Minimum Qualifications      955
Preferred Qualifications    955
Degree Reqirement           955
dtype: int64
Company                     51
Title                       51
Category                    51
Location                    51
Responsibilities            51
Minimum Qualifications      51
Preferred Qualifications    51
Degree Reqirement           51
dtype: int64
Company                     11
Title                       11
Category                    11
Location                    11
Responsibilities            11
Minimum Qualifications      11
Preferred Qualifications    11
Degree Reqirement           11
dtype: int64
Company                     4
Title                       4
Category                    4
Location                    4
Responsibilities            4
Minimum Qualifications      4
Preferred Qualifications    4
Degree Reqirement           4
dtype: int64
Company                     43
Title                       43
Category                    43
Location                    43
Responsibilities            43
Minimum Qualifications      43
Preferred Qualifications    43
Degree Reqirement           43
dtype: int64
Company                     100
Title                       100
Category                    100
Location                    100
Responsibilities            100
Minimum Qualifications      100
Preferred Qualifications    100
Degree Reqirement           100
dtype: int64

In [ ]:
phd_percent = []
mba_percent = []
masters_percent = []
bachelors_percent = []
ba_percent = []
bs_percent = []

In [49]:
# make a bar graph! 
ma.pyplot.bar(x=degrees,height=[3,0,0,0,0,2,0])

NameError: name 'matplotlib' is not defined

In [10]:
# This is the end of the good code, proceed at your own risk!
# 
# The NEXT MISSION: 
# apply this to the programming langauges
from List_of_Programming_Languages import LoPL

In [ ]:
for row in range(len(googdf['Minimum Qualifications'])):

In [ ]:
Degree_Requirements = []
for row in range(len(df['Minimum Qualifications'])):
    if any(word in df['Minimum Qualifications'][row] for word in PhD_list):
        Degree_Requirements.append('PhD')          
    elif any(word in sentence for word in MBA_list):
        Degree_Requirements.append('MBA') 
    elif any(word in sentence for word in Master_list):
        Degree_Requirements.append("Master's")
    elif any(word in sentence for word in Bachelor_list):
        Degree_Requirements.append("Bachelor's")
    elif any(word in sentence for word in BA_list):
        Degree_Requirements.append("BA")          
    elif any(word in sentence for word in BS_list):
        Degree_Requirements.append("BS")
    else:
        Degree_Requirements.append("GED")
              
print(Degree_Requirements[0:20])

In [ ]:
# re.sub("[^\d]","","asdf(650)ljhaflkhj1234657--aks")
re.search("j(oin)? (.*)$", "join ,")[2]

this
that
wooooo
this,that,wooooooo

In [ ]:
re.findall("q", "hello, world")

In [ ]:
if word in df['Minimum Qualifications'][1] == 'phd':
    print (word)
else:
    print ('no word')

In [ ]:
for word in PhD_list:
    print(word)

In [ ]:
num_rows = 0
row_nums = []
for row in df["Company"]:
    row_nums.append(num_rows)
    num_rows +=1
row_nums[0:20]

In [ ]:
BIG_WORD_LIST = []
row=0
while row < 20:
    for row in df['Responsibilities']:
        BIG_WORD_LIST.append(df.iloc[int(row_nums[row]),4])
        BIG_WORD_LIST.append(df.iloc[row,5])
        BIG_WORD_LIST.append(df.iloc[row,6])


len(BIG_WORD_LIST)

In [ ]:
print(df.columns)
df['Category'].value_counts()

In [ ]:
Programming_Languages = ['Python', 'Java ','C#', 'PHP', 'Javascript', 'Ruby', 'Perl', 'SQL','Go ']

Languages = dict((x,0) for x in Programming_Languages)
for i in Languages:
    x = df['Minimum Qualifications'].str.contains(i).sum()
    if i in Languages:
        Languages[i] = x
        
print(Languages)

In [ ]:
type(Languages)
# PL_DF = pd.DataFrame.from_dict(Languages)
# PL_DF.head()

In [ ]:
Degree = ['BA','BS','Bachelor','MBA','Master','PhD']

Degrees = dict((x,0) for x in Degree)
for i in Degree:
    x = df['Minimum Qualifications'].str.contains(i).sum()
    if i in Degrees:
        Degrees[i] = x
        
print(Degrees)

In [ ]:
degree_requirement = sorted(Degrees.items(), key=lambda x: x[1], reverse=True)
degree = pd.DataFrame(degree_requirement,columns=['Degree','Count'])
degree['Count'] = degree.Count.astype('float')
degree

In [ ]:
len(df['Minimum Qualifications'])

In [ ]:
for x in range(2):
    print(df['Minimum Qualifications'][x])
type(x)

In [ ]:
type(test)

In [ ]:
Degree_Requirements = []
for row in range(len(df['Minimum Qualifications'])):
    if any(word in df['Minimum Qualifications'][row] for word in PhD_list):
        Degree_Requirements.append('PhD')          
    elif any(word in sentence for word in MBA_list):
        Degree_Requirements.append('MBA') 
    elif any(word in sentence for word in Master_list):
        Degree_Requirements.append("Master's")
    elif any(word in sentence for word in Bachelor_list):
        Degree_Requirements.append("Bachelor's")
    elif any(word in sentence for word in BA_list):
        Degree_Requirements.append("BA")          
    elif any(word in sentence for word in BS_list):
        Degree_Requirements.append("BS")
    else:
        Degree_Requirements.append("GED")
              
print(Degree_Requirements[0:20])

In [ ]:
df['Category'].unique()

In [ ]:
df_by_category = pd.DataFrame()

In [ ]:
BIG_WORD_LIST[0].replace('\n',' ')

In [ ]:
# find out which language occurs in most in minimum Qualifications string
from List_of_Programming_Languages.py import LoPL
wordcount = dict((x,0) for x in LoPL)
for w in re.findall(r"[\w'+#-]+|[.!?;’]", miniumum_qualifications_string):
    if w in wordcount:
        wordcount[w] += 1
# print
print(wordcount)

In [ ]:
4th Dimension/4D
ABAP
ABC
ActionScript
Ada
Agilent VEE
Algol
Alice
Angelscript
Apex
APL
AppleScript
Arc

In [ ]:
results = []
for row in list(df['Minimum Qualifications']):
    found = re.findall(PhD_re, row)
    results.append(len(found) > 0)
print(results[0:20])

In [ ]:
# Rename the columns to make them easier to code 
df = df.rename(columns={
    'Minimum Qualifications': 'Minimum_Qualifications', 
    'Preferred Qualifications': 'Preferred_Qualifications'})

In [ ]:
# are there any NaN values in the DF?
pd.isnull(df).sum()

In [ ]:
# Drop all those null rows
df = df.dropna(how='any',axis='rows')

In [ ]:
# check to see if there are any other company names 
df.Company.value_counts()

In [ ]:
# So I drop Youtube
# df = df[df.Company != 'YouTube']

In [ ]:
df.Location.value_counts()[:15]

In [ ]:
df['Country'] = df['Location'].apply(lambda x : x.split(',')[-1])

In [ ]:
df.head(2)

In [ ]:
df.Country.value_counts()[:15]

In [ ]:
# The way to extract year refer to https://www.kaggle.com/niyamatalmass/what-you-need-to-get-a-job-at-google.
# Thanks Niyamat Ullah for such brilliant way. Go check his kernel. It's great!
import re
df['Minimum_years_experience'] = df['Minimum_Qualifications'].apply(lambda x : re.findall(r'([0-9]+) year',x))
# Fill empty list with [0]
df['Minimum_years_experience'] = df['Minimum_years_experience'].apply(lambda y : [0] if len(y)==0 else y)
# Then extract maximum in the list to have the work experience requirement
df['Minimum_years_experience'] = df['Minimum_years_experience'].apply(lambda z : max(z))
df['Minimum_years_experience'] = df.Minimum_years_experience.astype(int)